.page {
  background-color: black;
  margin: 0;
}

.page__section {
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 880) {
  .page__section {
    max-width: 770px;
  }
}

@media screen and (max-width: 425px) {
  .page__section {
    max-width: 425px;
  }
}

.card {
  margin-top: 51px;
}

.card__list {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin: 0;
  padding: 0;
}

.card__section {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  min-height: 361px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: black;
  min-height: 79px;
  border-radius: 0 0 10px 10px;
}

.card__title {
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  margin: 0;
}

.card__button-like {
  background: transparent url(./images/card-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  opacity: 100%;
}

.card__button-like:hover {
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .card {
    margin-top: 36px;
  }
}

.header {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: rgb(84 84 84 / 70%);
  border-style: solid;
  border-width: 1px;
}

.header__logo-image {
  max-width: 173px;
  max-height: 33px;
  padding-bottom: 41px;
}

@media screen and (max-width: 879px) {
  .header {
    margin: 0;
  }

  .header__logo-image {
    margin: 28px auto 0 27px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 320px;
  }

  .header__logo-image {
    max-width: 126px;
    max-height: 24px;
    padding-bottom: 32px;
    margin-right: 0;
  }
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__photo {
  margin-right: 24px;
  max-width: 120px;
  max-height: 120px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(373px, auto) auto;
}
